<template>
    <div class="element">
        <button class="btn">
            &nbsp;Button
        </button> 
        <button class="btn btn-gradient">
            &nbsp;Button
        </button> 
    </div>
    <div class="element">
        <button class="btn btn-icon">
            <i class="fa fa-plus-circle"></i>
            &nbsp;Add
        </button> 
        <button class="btn btn-gradient btn-icon">
            <i class="fa fa-plus-circle"></i>
            &nbsp;Add
        </button> 
    </div>
    <div class="element">
        <button class="btn btn-icon">
            <i class="fa fa-list-alt"></i>
            &nbsp;List
        </button> 
        <button class="btn btn-gradient btn-icon">
            <i class="fa fa-list-alt"></i>
            &nbsp;List
        </button> 
    </div>
    <div class="element">
        <button class="btn btn-icon">
            <i class="fa fa-trash-o"></i>
            &nbsp;Trash
        </button> 
        <button class="btn btn-gradient btn-icon">
            <i class="fa fa-trash-o"></i>
            &nbsp;Trash
        </button> 
    </div>
    <div class="element">
        <button class="btn btn-icon">
            <i class="fa fa-times"></i>
            &nbsp;Cancel
        </button> 
        <button class="btn btn-gradient btn-icon">
            <i class="fa fa-times"></i>
            &nbsp;Cancel
        </button> 
    </div>
    <div class="element">
        <button class="btn btn-icon">
            <i class="fa fa-refresh"></i>
            &nbsp;Refresh
        </button> 
        <button class="btn btn-gradient btn-icon">
            <i class="fa fa-refresh"></i>
            &nbsp;Refresh
        </button> 
    </div>
    <div class="element">
        <button class="btn btn-icon">
            <i class="fa fa-edit"></i>
            &nbsp;Edit
        </button> 
        <button class="btn btn-gradient btn-icon">
            <i class="fa fa-edit"></i>
            &nbsp;Edit
        </button> 
    </div>
    <div class="element">
        <button class="btn btn-icon">
            <i class="fa fa-search"></i>
            &nbsp;Search
        </button> 
        <button class="btn btn-gradient btn-icon">
            <i class="fa fa-search"></i>
            &nbsp;Search
        </button> 
    </div>
    <div class="element">
        <button class="btn btn-icon">
            <i class="fa fa-check"></i>
            &nbsp;Check
        </button> 
        <button class="btn btn-gradient btn-icon">
            <i class="fa fa-check"></i>
            &nbsp;Check
        </button> 
    </div>
</template>